.tree-container
  .tree(data-id=tree._id.toString(), class=treeHelper.getClass(tree.height), class=tree.isHealthy ? 'alive' : 'dead')
    .height= tree.height
    .health= tree.isHealthy
  button.button.button-action.chop Chop!
